<div class="app-scan">
    <select class="app-scan__devices" ng-model="$ctrl.activeDevice">
        <option ng-repeat="dev in $ctrl.devices" ng-value="dev.deviceId">
            {{ dev.label }}
        </option>
    </select>
    <button type="button" class="app-scan__controls" ng-click="$ctrl.startScan($ctrl.activeDevice)">▶</button>
    <button type="button" class="app-scan__controls" ng-click="$ctrl.stopScan()">⏸</button>

    <video ng-attr-id="{{ $ctrl.videoId }}" class="app-scan__video"></video>
    <textarea class="app-scan__result" rows="4" readonly></textarea>
    <p>
        <small>Last updated: {{ $ctrl.lastUpdated | date: 'medium' }}</small>
    </p>
    <button type="button" ng-click="$ctrl.copyText()">Copy text</button>
</div>
