<div class="app-scan">
    <div class="app-scan__controls">
        <select ng-model="$ctrl.activeDevice">
            <option value="">-- Devices --</option>
            <option ng-repeat="dev in $ctrl.devices" ng-value="dev.deviceId">
                {{ dev.label }}
            </option>
        </select>
        <button type="button" ng-click="$ctrl.reloadDevices()">🔃</button>
        <button type="button" ng-click="$ctrl.startScan($ctrl.activeDevice)">▶</button>
        <button type="button" ng-click="$ctrl.stopScan()">⏸</button>
    </div>

    <p>
        <video ng-attr-id="{{ $ctrl.videoId }}" class="app-scan__video"></video>
    </p>
    <textarea class="app-scan__result" rows="4" readonly></textarea>
    <p>
        <small>Last updated: {{ $ctrl.lastUpdated | date: 'medium' }}</small>
    </p>
    <button type="button" ng-click="$ctrl.copyText()">Copy text</button>
</div>
